Repository reupen/yuo.be: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

eslint:
  name: eslint
  entry: npm exec --no -- eslint --fix --max-warnings 0 --no-warn-ignored
  language: system

stylelint:
  name: stylelint
  entry: npm exec --no -- stylelint --fix
  language: system

Add Album list panel 2.1.0 beta 2
  src/assets/downloads/foo_uie_albumlist-2.1.0-alpha.1.x86-x64.fb2k-component
  src/assets/downloads/foo_uie_albumlist-2.1.0-beta.2.x86-x64.fb2k-component
  src/pages/album-list-panel.astro
Due: eslint

Update to Astro 6
  package-lock.json
  package.json
Due: none

Add Columns UI 3.4.0
  src/assets/downloads/foo_ui_columns-3.4.0-alpha.2.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.4.0.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Album list panel 2.1.0 beta 3
  src/assets/downloads/foo_uie_albumlist-2.1.0-beta.3.x86-x64.fb2k-component
  src/pages/album-list-panel.astro
Due: eslint

Add Columns UI 3.4.1
  src/assets/downloads/foo_ui_columns-3.4.0-beta.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.4.1.x86-x64.fb2k-component
  src/assets/downloads/foo_uie_albumlist-2.1.0-beta.1.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Album list panel 2.1.0
  src/assets/downloads/foo_uie_albumlist-2.1.0.x86-x64.fb2k-component
  src/pages/album-list-panel.astro
Due: eslint

Add Columns UI SDK 8.1.0
  src/assets/downloads/columns_ui-sdk-8.1.0.7z
  src/pages/columns-ui-sdk.astro
Due: eslint

Add Columns UI 3.5.0 alpha 1
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.1.x86-x64.fb2k-component
  src/assets/images/columns-ui-dark.png
  src/assets/images/columns-ui-demo.mp4
  src/assets/images/columns-ui-light.png
  src/layouts/globals.pcss
  src/pages/columns-ui.astro
Due: eslint, stylelint

Add Columns UI 3.5.0 alpha 2
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.2.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Columns UI 3.5.0 alpha 3
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.2.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.3.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Use @/ import alias
  src/components/DownloadList.astro
  src/components/DownloadListItem.astro
  src/components/ExternalLinkList.astro
  src/components/Menu.astro
  src/components/MenuItem.astro
  src/layouts/DownloadLayout.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/album-list-panel.astro
  src/pages/columns-ui-sdk.astro
  src/pages/columns-ui.astro
  src/pages/console-panel.astro
  src/pages/index.astro
  src/pages/ipod-manager-sdk.astro
  src/pages/ipod-manager.astro
  src/pages/svg-services.astro
  src/pages/typefind-panel.astro
  tsconfig.json
Due: eslint

Add linting for import order
  astro.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/DownloadListItem.astro
  src/components/Menu.astro
  src/components/MenuItem.astro
  src/layouts/DownloadLayout.astro
  src/layouts/Layout.astro
  src/pages/album-list-panel.astro
  src/pages/columns-ui-sdk.astro
  src/pages/columns-ui.astro
  src/pages/console-panel.astro
  src/pages/ipod-manager-sdk.astro
  src/pages/ipod-manager.astro
  src/pages/svg-services.astro
  src/pages/typefind-panel.astro
  src/utils/importDownload.ts
Due: eslint

Add Album list panel 2.2.0 beta 1
  src/assets/downloads/foo_uie_albumlist-2.1.0-beta.2.x86-x64.fb2k-component
  src/assets/downloads/foo_uie_albumlist-2.1.0-beta.3.x86-x64.fb2k-component
  src/assets/downloads/foo_uie_albumlist-2.2.0-beta.1.x86-x64.fb2k-component
  src/pages/album-list-panel.astro
Due: eslint

Add Columns UI 3.5.0 beta 1
  src/assets/downloads/foo_ui_columns-3.5.0-beta.1.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Columns UI 3.5.0 beta 1
  src/assets/downloads/foo_ui_columns-3.2.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.2.2.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add cooldown to Dependabot config
  .github/dependabot.yml
Due: none

Add news section and Columns UI 3.4.0 article
  .pre-commit-config.yaml
  .prettierrc
  astro.config.mjs
  fonts/LICENCE
  fonts/NotoSans-Bold.ttf
  fonts/NotoSans-Medium.ttf
  fonts/NotoSans-Regular.ttf
  fonts/NotoSans-SemiBold.ttf
  package-lock.json
  package.json
  scripts/download_fonts.py
  src/components/CaptionedImage.astro
  src/components/Menu.astro
  src/components/PostImage.astro
  src/components/SocialCard.tsx
  src/components/client/ImageTabs.pcss
  src/components/client/ImageTabs.tsx
  src/components/client/index.ts
  src/components/index.ts
  src/content.config.ts
  src/layouts/Layout.astro
  src/layouts/globals.pcss
  src/pages/columns-ui.astro
  src/pages/news.astro
  src/pages/news/[...slug]/card.[ext].ts
  src/pages/news/[...slug]/index.astro
  src/posts/2026/whats-new-in-columns-ui-340/index.mdx
  src/posts/2026/whats-new-in-columns-ui-340/smooth-scrolling.mp4
  src/posts/2026/whats-new-in-columns-ui-340/spectrum.mp4
  src/posts/2026/whats-new-in-columns-ui-340/sticky-group-headings.mp4
  src/tm-grammars/fb2k.json
  src/utils/getPosts.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint, stylelint

Add Columns UI 3.5.0
  src/assets/downloads/foo_ui_columns-3.5.0.x86-x64.fb2k-component
  src/layouts/globals.pcss
  src/pages/columns-ui.astro
  src/posts/2026/whats-new-in-columns-ui-350/index.mdx
  src/posts/2026/whats-new-in-columns-ui-350/search-bar-prefs.webp
  src/posts/2026/whats-new-in-columns-ui-350/search-bar.mp4
  src/posts/2026/whats-new-in-columns-ui-350/splitter-resize.mp4
  src/posts/2026/whats-new-in-columns-ui-350/toolbar-fonts.webp
Due: eslint, stylelint

Remove public property from vercel.json
  vercel.json
Due: none

Add schema to vercel.json
  vercel.json
Due: none

Remove PurgeCSS
  package-lock.json
  package.json
  src/layouts/font-awesome.scss
  src/pages/news/[...slug]/index.astro
Due: eslint

Add Columns UI 3.6.0 beta 1
  src/assets/downloads/foo_ui_columns-3.5.0-alpha.3.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.5.0-beta.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.6.0-beta.1.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Album list panel 2.2.0 beta 2
  src/assets/downloads/foo_uie_albumlist-2.2.0-beta.2.x86-x64.fb2k-component
  src/pages/album-list-panel.astro
Due: eslint

Add Columns UI 3.6.0
  src/assets/downloads/foo_ui_columns-3.6.0.x86-x64.fb2k-component
  src/pages/columns-ui.astro
  src/posts/2026/columns-ui-360-released/artwork-reload.webp
  src/posts/2026/columns-ui-360-released/autoscroll.mp4
  src/posts/2026/columns-ui-360-released/index.mdx
  src/posts/2026/columns-ui-360-released/spectrum-options.webp
  src/posts/2026/columns-ui-360-released/spectrum-smoothed.webp
  src/posts/2026/columns-ui-360-released/spectrum-solid-bars.webp
  src/posts/2026/columns-ui-360-released/spectrum-unsmoothed.webp
  src/posts/2026/whats-new-in-columns-ui-340/index.mdx
  src/posts/2026/whats-new-in-columns-ui-350/index.mdx
Due: eslint

Add Album list panel 2.2.0
  src/assets/downloads/foo_uie_albumlist-2.2.0-beta.1.x86-x64.fb2k-component
  src/assets/downloads/foo_uie_albumlist-2.2.0.x86-x64.fb2k-component
  src/layouts/globals.pcss
  src/pages/album-list-panel.astro
  src/pages/news/[...slug]/index.astro
  src/posts/2026/album-list-panel-220-released/context-menu.webp
  src/posts/2026/album-list-panel-220-released/index.mdx
  src/posts/2026/album-list-panel-220-released/properties.webp
  src/posts/2026/columns-ui-360-released/index.mdx
  src/posts/2026/whats-new-in-columns-ui-340/index.mdx
  src/posts/2026/whats-new-in-columns-ui-350/index.mdx
Due: eslint, stylelint

Update vulnerable dependencies
  package-lock.json
Due: none

Add news RSS feed and canonical URLs
  package-lock.json
  package.json
  public/favicon.ico
  src/layouts/Layout.astro
  src/layouts/globals.pcss
  src/pages/index.astro
  src/pages/news.astro
  src/pages/rss.xml.ts
Due: eslint, stylelint

Disable postcss-calc in cssnano configuration
  postcss.config.mjs
Due: eslint

Add Columns UI 3.7.0 beta 1
  src/assets/downloads/foo_ui_columns-3.6.0-beta.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.7.0-beta.1.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add Columns UI 3.7.0 beta 2
  src/assets/downloads/foo_ui_columns-3.7.0-beta.1.x86-x64.fb2k-component
  src/assets/downloads/foo_ui_columns-3.7.0-beta.2.x86-x64.fb2k-component
  src/pages/columns-ui.astro
Due: eslint

Add and use CaptionedVideo component
  package-lock.json
  package.json
  src/components/CaptionedVideo.astro
  src/components/index.ts
  src/posts/2026/columns-ui-360-released/index.mdx
  src/posts/2026/whats-new-in-columns-ui-340/index.mdx
  src/posts/2026/whats-new-in-columns-ui-350/index.mdx
Due: eslint

Add Columns UI 3.7.0
  src/assets/downloads/foo_ui_columns-3.7.0.x86-x64.fb2k-component
  src/layouts/globals.pcss
  src/pages/columns-ui.astro
  src/pages/index.astro
  src/pages/news.astro
  src/posts/2026/columns-ui-370-released/alt-menu.mp4
  src/posts/2026/columns-ui-370-released/button-command-search.mp4
  src/posts/2026/columns-ui-370-released/index.mdx
  src/posts/2026/columns-ui-370-released/layout-placement.mp4
  src/posts/2026/columns-ui-370-released/tracking-modes.webp
Due: eslint, stylelint

Update Columns UI 3.7.0 post with Shift+Alt menu details
  src/posts/2026/columns-ui-370-released/index.mdx
Due: eslint

Update Dependabot config to ignore Typescript 7.0.x
  .github/dependabot.yml
Due: none

Path conditions:
  eslint: any of: \.(([cm]?(j|t)s)|astro|mdx)$, but not: ^src/env\.d\.ts$
  stylelint: any of: .pcss$
